body{
    margin: 0px;
    background-color: rgb(58, 47, 47);
}

.nav-b {
    display: flex;
    margin: 0px;
    background-color: rgb(69, 53, 53);
}

.leftt {
    display: flex;
}

.right {
    margin-left: auto;
    margin-right: 1.5em;
}

.right a {
    color: #ddd6d6;
}

.logo {
    background-color: antiquewhite;
    border-radius: 35px;
    margin-right: 15px;
}

.word {
    color: rgb(192, 190, 190);
    letter-spacing: 15px;
}



nav {
    margin-top: 5px;
}

.featurette-divider {
    border: solid #ddd6d6 0.04em;
}

.text-wrapper p{
    text-align: center;
    color: #fff;
        background-image: linear-gradient(to right, #5a48dc, #f14b4b, #4d54d1, #cd6363);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
}

span {
    text-decoration: underline;
}

img {
    width: 41em;
    height: 30em;
    float: right;
    position: relative;
    border-radius: 10px;
    margin-right: 1.5em;
} 

.father {
    margin-left: 2em;
}

.ntb {
    margin-top: 2em;
    /* margin-left: 390px; */
}

.white {
    color: rgb(192, 190, 190);
}

.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  letter-spacing: 7em;
  margin-top: 10em;
}

.footer h3 {
    font-size: 7em;
}