html{
    font-size: 62.5%;
}
body{
    margin: 0px;
    background-color: rgb(58, 47, 47);
    font-size: 1.6rem;
    width: 100%;
}
h1 {
    font-size: 5rem;
    font-weight: 800;
}

button {
    height: 3rem;
    padding: 300rem;
}
.nav-b {
    display: flex;
    margin: 0px;
    background-color: rgb(69, 53, 53);
    height: 6rem;
    width: 100%;
}

.leftt {
    display: flex;
}

.right {
    margin-left: auto;
    margin-right: 1.5rem;
    margin-top: 2rem;
}

.right a {
    color: #ddd6d6;
}

.logo {
    background-color: antiquewhite;
    border-radius: 3.5rem;
    margin-right: 1.5rem;
}

.word {
    color: rgb(192, 190, 190);
    letter-spacing: 1.5rem;
    margin-top: 1.3rem;
    font-size: 4rem;

}



nav {
    margin-top: 5rem;
}

.featurette-divider {
    border: solid #ddd6d6 0.04rem;
}

.text-wrapper p{
    text-align: center;
    color: #fff;
        background-image: linear-gradient(to right, #5a48dc, #f14b4b, #4d54d1, #cd6363);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
}

span {
    text-decoration: underline;
}

img {
    width: 50rem;
    height: 40rem;
    float: right;
    border-radius: 1rem;
    margin-right: 1.5rem;
} 

.father {
    margin-left: 2rem;
}

.ntb {
    margin-top: 2rem;
    /* margin-left: 390px; */
}

.white {
    color: rgb(192, 190, 190);
}

.footer {
  width: 100%;
  color: white;
  text-align: center;
  letter-spacing: 7rem;
  margin-top: 3rem;
}

.footer h3 {
    font-size: 7rem;
}